body {
    font-family: century gothic;
    background-color: rgb(156, 142, 168);
  }
  
  .nav {
    display: flex;
    justify-content: center;
  list-style: none;
  }
  
  li {
    text-align: center;
  }
  
  li:not(:last-child) {
  margin-right: 1em;
  }
  
  .footer {
    background-color: #263238;
    height: 100%;
  }
  
  .footer-text {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
  }